<!-- templates/core/authors.html -->
{% extends "core/base.html" %}
{% load static %}

{% block title %}Все авторы{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static "core/css/main.css" %}">
{% endblock %}

{% block content %}
  <div class="row main_desc">
    <h1 class="col-sm-12 main_h"><strong>Все авторы:</strong></h1>
  </div>

  <div class="row">
    {% include "core/includes/authors_list.html" %}
  </div>

  <div class="pagination">
    {% if is_paginated %}
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        <span class="page-current">
          {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Дальше</a>
        {% endif %}
      </span>
    {% endif %}
  </div>
{% endblock %}
