{% for book, authors, tags in books_list %}
  <div class="col-lg-4">
    <div class="blogs col-md-12">
        <h2><strong><a href="{% url "show_book" book.id %}">{{ book.title }} (ссылка)</a></strong></h2>
        <p class="post-pub_date">{{ book.pub_date }}</p>
        <h3>Авторы:</h3>
        {% for author in authors %}
          <a href="{% url "show_author" author.id %}">{{ author }} (ссылка)</a>
        {% endfor %}
        <h3>Тэги:</h3>
        {% for tag in tags %}
          <p>{{ tag }}</p>
        {% endfor %}
        <h3>Обложка:</h3>
        {% if book.img %}
          <img class="book_img" src="{{ book.image.url }}" alt="Обложка книги" width="100%" vspace="10"></img>
        {% else %}
          <p>Нет обложки</p>
        {% endif %}
        <h3>Описание:</h3>
        <p>{{ book.desc }}</p>
        <h3>Цена:</h3>
        <p>{{ book.price }}</p>
    </div>
  </div>
{% endfor %}
